<div class="ui container">
    <div class="ui icon negative message">
        <i class="notched circle loading icon"></i>
        <div class="content">
            <div class="header">
                404
            </div>
            <p>Page not found.</p>
        </div>
    </div>
</div>