<div class="ui container">

    <a href="/games/{{game}}/{{category}}/edit">
        <div style="margin-bottom: 20px;" class="fluid ui button primary">Edit Page</div>
    </a>
    {{#if content}}
    <div class="ql-snow">
        <div id="content" class="ql-editor">
            {{{content}}}
        </div>
    </div>
</div>
{{else}}

{{/if}}