<div class="ui container">

    <div class="ui eight stackable cards">
        <a href="/games/tloz" class="card" style="width: 150px; height: 150px;">
            <div class="ui" style="height: 100px; text-align: center; padding: inherit">
                <img src="/images/link.png" class="center">
            </div>
            <div class="content header">The Legend of Zelda</div>
        </a>
        <a href="/games/aol" class="card" style="width: 150px; height: 150px;">
            <div class="ui" style="height: 100px; text-align: center;">
                <img src="/images/aol-downstab.gif">
            </div>
            <div class="content">Adventure of Link</div>
        </a>
        <a href="/games/alttp" class="card" style="width: 150px; height: 150px;">
            <div class="ui" style="height: 100px; text-align: center;">
                <img src="/images/alttp-link.png">
            </div>
            <div class="content">A Link to the Past</div>
        </a>
        <a href="/games/la" class="card" style="width: 150px; height: 150px;">
            <div class="ui" style="height: 100px; text-align: center;">
                <img src="/images/la-owl.png">
            </div>
            <div class="content">Link's Awakening</div>
        </a>
        <a href="/games/oot" class="card" style="width: 150px; height: 150px;">
            <div class="ui" style="height: 100px; text-align: center;">
                <img src="/images/oot-ocarina.png">
            </div>
            <div class="content">Ocarina of Time</div>
        </a>
        <a href="/games/ladx" class="card" style="width: 150px; height: 150px;">
            <div class="ui" style="height: 100px; text-align: center;">
                <img src="/images/la-owl1.png">
            </div>
            <div class="content">Link's Awakening DX</div>
        </a>
        <a href="/games/mm" class="card" style="width: 150px; height: 150px;">
            <div class="ui" style="height: 100px; text-align: center;">
                <img src="/images/mm-mask.png">
            </div>
            <div class="content">Majora's Mask</div>
        </a>
        <a href="/games/oos" class="card" style="width: 150px; height: 150px;">
            <div class="ui" style="height: 100px; text-align: center;">
                <img src="/images/oos-din.png">
            </div>
            <div class="content">Oracle of Seasons</div>
        </a>
        <a href="/games/ooa" class="card" style="width: 150px; height: 150px;">
            <div class="ui" style="height: 100px; text-align: center;">
                <img src="/images/ooa-nayru.png">
            </div>
            <div class="content">Oracle of Ages</div>
        </a>
        <a href="/games/ootmq" class="card" style="width: 150px; height: 150px;">
            <div class="ui" style="height: 100px; text-align: center;">
                <img src="/images/MQ.png">
            </div>
            <div class="content">Ocarina of Time MQ</div>
        </a>
        <a href="/games/tww" class="card" style="width: 150px; height: 150px;">
            <div class="ui" style="height: 100px; text-align: center;">
                <img src="/images/wind_waker.png">
            </div>
            <div class="content">The Wind Waker</div>
        </a>
        <a href="/games/fsa" class="card" style="width: 150px; height: 150px;">
            <div class="ui" style="height: 100px; text-align: center;">
                <img src="/images/fsa-4links.gif">
            </div>
            <div class="content">Four Swords Adventures</div>
        </a>
        <a href="/games/tmc" class="card" style="width: 150px; height: 150px;">
            <div class="ui" style="height: 100px; text-align: center;">
                <img src="/images/tmc-hat.png">
            </div>
            <div class="content">The Minish Cap</div>
        </a>
        <a href="/games/tp" class="card" style="width: 150px; height: 150px;">
            <div class="ui" style="height: 100px; text-align: center;">
                <img src="/images/tp-midnawolf.png">
            </div>
            <div class="content">Twilight Princess</div>
        </a>
        <a href="/games/ph" class="card" style="width: 150px; height: 150px;">
            <div class="ui" style="height: 100px; text-align: center;">
                <img src="/images/ph-hourglass.png">
            </div>
            <div class="content">Phantom Hourglass</div>
        </a>
        <a href="/games/st" class="card" style="width: 150px; height: 150px;">
            <div class="ui" style="height: 100px; text-align: center;">
                <img src="/images/st-train.png">
            </div>
            <div class="content">Spirit Tracks</div>
        </a>
        <a href="/games/oot3d" class="card" style="width: 150px; height: 150px;">
            <div class="ui" style="height: 100px; text-align: center;">
                <img src="/images/3d.png">
            </div>
            <div class="content">Ocarina of Time 3D</div>
        </a>
        <a href="/games/ss" class="card" style="width: 150px; height: 150px;">
            <div class="ui" style="height: 100px; text-align: center;">
                <img src="/images/ss-fi.png">
            </div>
            <div class="content">Skyward Sword</div>
        </a>
        <a href="/games/twwhd" class="card" style="width: 150px; height: 150px;">
            <div class="ui" style="height: 100px; text-align: center;">
                <img src="/images/twwhd.png">
            </div>
            <div class="content">The Wind Waker HD</div>
        </a>
        <a href="/games/albw" class="card" style="width: 150px; height: 150px;">
            <div class="ui" style="height: 100px; text-align: center;">
                <img src="/images/albw.png">
            </div>
            <div class="content">A Link Between Worlds</div>
        </a>
        <a href="/games/mm3d" class="card" style="width: 150px; height: 150px;">
            <div class="ui" style="height: 100px; text-align: center;">
                <img src="/images/mm-mask-3d.png">
            </div>
            <div class="content">Majora's Mask 3D</div>
        </a>
        <a href="/games/tphd" class="card" style="width: 150px; height: 150px;">
            <div class="ui" style="height: 100px; text-align: center;">
                <img src="/images/tphd.png">
            </div>
            <div class="content">Twilight Princess HD</div>
        </a>
        <a href="/games/botw" class="card" style="width: 150px; height: 150px;">
            <div class="ui" style="height: 100px; text-align: center;">
                <img src="/images/botw.png">
            </div>
            <div class="content">Breath of the Wild</div>
        </a>
    </div>
</div>