<div class="ui container">

    <div class="ui six cards">
        <a class="card">
            <div class="image">
                <img src="/images/MQ.png">
            </div>
            <div class="content">Ocarina of Time</div>
        </a>
        <a class="card">
            <div class="image">
                <img src="/images/MQ.png">
            </div>
            <div class="content">Ocarina of Time</div>
        </a>
        <a class="card">
            <div class="image">
                <img src="/images/MQ.png">
            </div>
            <div class="content">Ocarina of Time</div>
        </a>
        <a class="card">
            <div class="image">
                <img src="/images/MQ.png">
            </div>
            <div class="content">Ocarina of Time</div>
        </a>
        <a class="card">
            <div class="image">
                <img src="/images/MQ.png">
            </div>
            <div class="content">Ocarina of Time</div>
        </a>
        <a class="card">
            <div class="image">
                <img src="/images/MQ.png">
            </div>
            <div class="content">Ocarina of Time</div>
        </a>
        <a class="card">
            <div class="image">
                <img src="/images/MQ.png">
            </div>
            <div class="content">Ocarina of Time</div>
        </a>
        <a class="card">
            <div class="image">
                <img src="/images/MQ.png">
            </div>
            <div class="content">Ocarina of Time</div>
        </a>
        <a class="card">
            <div class="image">
                <img src="/images/MQ.png">
            </div>
            <div class="content">Ocarina of Time</div>
        </a>
        <a class="card">
            <div class="image">
                <img src="/images/MQ.png">
            </div>
            <div class="content">Ocarina of Time</div>
        </a>
         <a class="card">
            <div class="image">
                <img src="/images/MQ.png">
            </div>
            <div class="content">Ocarina of Time</div>
        </a>
        <a class="card">
            <div class="image">
                <img src="/images/MQ.png">
            </div>
            <div class="content">Ocarina of Time</div>
        </a>
        <a class="card">
            <div class="image">
                <img src="/images/MQ.png">
            </div>
            <div class="content">Ocarina of Time</div>
        </a>
        <a class="card">
            <div class="image">
                <img src="/images/MQ.png">
            </div>
            <div class="content">Ocarina of Time</div>
        </a>
        <a class="card">
            <div class="image">
                <img src="/images/MQ.png">
            </div>
            <div class="content">Ocarina of Time</div>
        </a>
         <a class="card">
            <div class="image">
                <img src="/images/MQ.png">
            </div>
            <div class="content">Ocarina of Time</div>
        </a>
        <a class="card">
            <div class="image">
                <img src="/images/MQ.png">
            </div>
            <div class="content">Ocarina of Time</div>
        </a>
        <a class="card">
            <div class="image">
                <img src="/images/MQ.png">
            </div>
            <div class="content">Ocarina of Time</div>
        </a>
        <a class="card">
            <div class="image">
                <img src="/images/MQ.png">
            </div>
            <div class="content">Ocarina of Time</div>
        </a>
        <a class="card">
            <div class="image">
                <img src="/images/MQ.png">
            </div>
            <div class="content">Ocarina of Time</div>
        </a>
                <a class="card">
            <div class="image">
                <img src="/images/MQ.png">
            </div>
            <div class="content">Ocarina of Time</div>
        </a>
                <a class="card">
            <div class="image">
                <img src="/images/MQ.png">
            </div>
            <div class="content">Ocarina of Time</div>
        </a>
                <a class="card">
            <div class="image">
                <img src="/images/MQ.png">
            </div>
            <div class="content">Ocarina of Time</div>
        </a>
    </div>
</div>