<div class="ui container">
  <div class="ui success message">
    <div class="header">
      Change log </div>
    <ul class="list">
      <li>Added buttons for easier editing (7/12)</li>
      <li>Added categories to all Zelda games (7/13)</li>
      <li>Register/Login handles better (7/16)</li>
      <li>Added validation for editing categories for games. you <b>must</b> be a site moderator to edit pages. (7/18)</li>
    </ul>
  </div>
</div>
<div class="ui basic segment features">
  <div class="ui container">
    <a name="features"></a>
    <div class="ui huge center aligned header">
      <div class="content">
        Features We Offer
        <div class="sub header">Every resource you need to be the best.</div>
      </div>
    </div>
    <div class="ui stackable grid">
      <div class="row">
        <div class="eight wide column">
          <div class="ui icon center aligned header"><i aria-hidden="true" class="edit icon" style="color: rgb(57, 110, 162)"></i> Editability
          </div>
          <p>Zelda Strats has an amazing community who updates strategies for every category as soon as a new strat is found and perfected. We have the fastest and easiest strategies for you to choose from. You will be learning from the Zelda professionals who take pride in speedrunning.</p>
        </div>
        <div class="eight wide column">
          <div class="ui icon center aligned header"><i aria-hidden="true" class="lock icon" style="color: rgb(57, 110, 162)"></i> Reliability
          </div>
          <p>Our strategies are up-to-date and the most reliable out there. Site moderators (picked based on category/game knowledge) are able to edit each category for each Zelda game to keep your strategies up to date.</p>
        </div>
      </div>
    </div>
  </div>
</div>