<div class="ui container">

  <h1>Zelda Strats</h1>
  <h3>Beta v1.0</h3>
  <div class="ui success message">
    <i class="close icon"></i>
    <div class="header">
      Change log </div>
    <ul class="list">
      <li>Added buttons for easier editing (7/12)</li>
      <li>Added categories to all games (7/13)</li>
    </ul>
  </div>
  <p>The site is very glitchy/unstable (beta release). Please report any issues/bugs to Matt. My social media is below. (message
    me on twitch/discord/skype)</p>
  <div class="overlay">
    <div class="ui labeled icon horizontal menu">
      <a href="https://www.twitter.com/trokematthew" class="item"><i class="twitter icon"></i> Tweet</a>
      <a href="https://www.twitch.tv/xmattgaming" class="item"><i class="twitch icon"></i>Twitch</a>
      <a class="item"><i class="skype icon"></i> Skyzmatt</a>
    </div>
  </div>
</div>